- hosts: test_node
  
  tasks:
    - name: Read variables
      include_vars:
        file: vars.yml

    - name: Create file /etc/os-release to /tmp/{{ file_name }}
      copy:
        src: /etc/os-release
        dest: /tmp/{{ file_name }}

    - name: Get stats for /tmp/{{ file_name }}
      stat:
        path: /tmp/{{ file_name }}
      register: st
    
    - name: Show file checksum
      debug:
        var: st.stat.checksum
      
    - name: Update packages
      apt:
        update_cache: true
      become: true

    - name: Install nano
      package:
        name: nano
        state: present
      become: true

    - name: Improve cowsay
      package:
        name: cowsay
        state: present
      become: true

    - name: Print something
      shell:
        cmd: cowsay "This is the end"
